html {
	width: 100%;
	height: 100%;
	margin: 0px;
}
body {
	width: 100%;
	height: 95%;
	margin: 0px;
	padding: 0px;
	background-position: top center;
	background-repeat: no-repeat;
	font-family: "GentiumRegular", Georgia, "Times New Roman", serif;
	line-height: 130%;
	color: #252525;
	background-color: #ffffff;
}
#wrapper {	
    width: 1530px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
    background-color: #199;
}
#banner {
    width: 100%;
    font-size: 72px;
    background-color: #499;
    text-align: center;
}
#title {
    top: 50%;
}
#buttons {
    width: 100%;
    height: 30px;
}
#scroll {
	width:100%;
	height:30px;
	background-color: #B99;
}
.hbutton {
	position: relative;
	height: 10em;
	width: 20%;
	bottom: 0%;
	float: right;
	overflow: hidden;
	text-align: center;
}
#col1 {
	background-color: #F99;
	float: right;
	height: 100%;
	width: 20%;
	position: relative;
	top: 0%;
	bottom: 0%;
}
#blurb {
	background-color: #D99;
	float: right;
	height: 100%;
	width: 40%;
	position: relative;
}
.col {
	background-color: #A99;
	float: right;
	height: 100%;
	width: 40%;
	position: relative;
}
.col1b {
	background-color: #E99;
	position: relative;
	height: 200px;
	width: 100%;
	top: 0%;
	bottom: 66.7%;
}
.colb2 {
	position: relative;
	height: 200px;
	width: 100%;
	bottom: 0%;
	background-color: #999;
}
#main {
	width:100%;
	height:600px;
	background-color: #C99;
}
.colb3 {
	background-color: #899;
	position: relative;
	height: 200px;
	width: 100%;
	top: 0%;
	bottom: 66.7%;
}
#foot {
	width:100%;
	height:200px;
}
.brow {
	background-color: #799;
	height: 100px;
	width: 510px;
	float: right;
}
